@import "partials/normalize";
@import "partials/variable";


body {

  padding: 0 0 0 0;



  header {
    font-family: $font-family-nav;
    position: fixed;
    width: 100%;
    margin: $margin-screen-tb $margin-screen-rl $margin-screen-tb $margin-screen-rl;

    .top-nav {
      font-weight: 600;
      text-transform: uppercase;
    }

  }

  main {
    /* margin-top will be set in media-queries*/
    margin: 0 $margin-screen-rl $margin-screen-tb $margin-screen-rl;
    font-family: $font-family-main;
    float: left;
    width: 100% - 2*$margin-screen-rl;

  }

  div {

  }

  iframe {

    border: none;
    position: relative;
    width: 50%;

  }

  ul {
    padding: 0;
    margin: 0;
  }

  h1 {
    font-family: $font-family-title;
    font-size: $font-size-h1;

  }

  h4 {
    font-weight: 400;
  }

  p {
    font-size: $font-size-main;

  }

  /* unstyled list */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  a:hover {
    background-color: black;
  }

}

.home-nav {
  font-family: $font-family-nav;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;

  /* vertically align home-nav */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);


}



/* Media queries */
/* Extra Small devices (smartphones, 600px and down) */
@media screen and (max-width: 600px) {

  body {

    main {
      /* Margin-top overwrite in order to count in nav-top space */
      margin-top: calc(#{$margin-screen-tb} + #{$font-size-nav-xs});
    }

    header {

      .top-nav {
        font-size: $font-size-nav-xs;
      }
    }

  }



  .home-nav {
    font-size: $font-size-nav-xs;
    text-align: left;

    /* vertically align home-nav overwrite */
    top: 20%;
    left: 0;
    transform: translate( 0%, -10%);

    li {
      display: block;
      margin: 6% $margin-screen-rl 6% $margin-screen-rl;
    }
  }


}

/* Small devices (tablets, 601px and up) */
@media screen and (min-width: 601px) {

  body {

    main {
      /* Margin-top overwrite in order to count in nav-top space */
      margin-top: calc(#{$margin-screen-tb} + #{$font-size-nav-sm});
    }

  }


  .home-nav {

    font-size: $font-size-nav-sm;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 3% 0 3%;
    }
  }

  header {
    .top-nav {
      font-size: $font-size-nav-sm;
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

  body {

    main {
      /* Margin-top overwrite in order to count in nav-top space */
      margin-top: calc(#{$margin-screen-tb} + #{$font-size-nav-md});
    }

  }

  .home-nav {

    font-size: $font-size-nav-md;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 5% 0 5%;
    }
  }

  .top-nav {
    font-size: $font-size-nav-md;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

  body {

    main {
      /* Margin-top overwrite in order to count in nav-top space */
      margin-top: calc(#{$margin-screen-tb} + #{$font-size-nav-lg});
    }

  }

  .home-nav {

    font-size: $font-size-nav-lg;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 5% 0 5%;
    }
  }

  .top-nav {
    font-size: $font-size-nav-lg;
  }

}

/* Xtra Large devices (Xtra large desktops, 1680px and up) */
@media screen and (min-width: 1680px) {


  body {

    main {
      /* Margin-top overwrite in order to count in nav-top space */
      margin-top: calc(#{$margin-screen-tb} + #{$font-size-nav-xl});
    }

  }

  .home-nav {

    font-size: $font-size-nav-xl;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 5% 0 5%;
    }
  }

  .top-nav {
    font-size: $font-size-nav-xl;
  }

}




